<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="" >
 <head>
    <title>Finnish Emrex NCP</title>
    <link href="styles/angular-datepicker.css" rel="stylesheet" type="text/css" />
     <link rel="stylesheet" href="fi-common/styles/pure-min.css"/>
     <link rel="stylesheet" href="fi-common/styles/custom.css"/>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="fi-ncp" ng-cloak="" class="ng-cloak">
<div ng-view="" class="container custom-container"></div>
<script src="js/angular-bootstrap.js" type="text/javascript"></script>
<script src="fi-common/js/helper.js" type="text/javascript"></script>
<script src="js/api.js" type="text/javascript"></script>
<script src="fi-common/js/selectedCourses.js" type="text/javascript"></script>
<script src="fi-common/js/learningReport.js"></script>
<script src="js/courseSelection.js"></script>
<script src="js/courseSelectionPreview.js"></script>
<script src="js/angular-datepicker.js"></script>
<script src="js/ncp.js"></script>

</body>
</html>
