<div class="pure-g">
    <div class="pure-u-1-1">
        <ng-include src="'fi-common/partials/header.html'"></ng-include>

    </div>
    <div class="pure-u-1-1"><h2>Review and confirm selection</h2>
        <hr/>
        <br>

        <h3>{{report.learner.fullName}} {{report.learner.bday.content}}</h3>
        <br>

        <div class="pure-g">
            <div class="pure-u-1-2">
                <fieldset>
                    <legend>Almost done!</legend>
                    <div class="custom-inline">You have selected to import</div>
                    <div class="custom-inline">{{numberOfCourses}}</div>
                    <div class="custom-inline" ng-show="numberOfCourses == 1"> course.</div>
                    <div class="custom-inline" ng-show="numberOfCourses != 1"> courses.</div>
                    Please review your selection below and approve it to import the courses to your home institution.
                </fieldset>
            </div>
        </div>
        <br>
        <div class="custom-inline" ng-bind-html="review"/>
        <div class="custom-inline" ng-bind-html="abort"/>
        <a href="javascript:history.back()" class="custom-inline">Change selection</a>
        <div ng-repeat="learningReport in reports | filter:courseNumberfilter">
            <learning-report-directive report='learningReport' only-viewing=true level-filter='selectedLevel'
                                       type-filter='typeOptions'></learning-report-directive>
        </div>
    </div>
</div>
